<header></header>
<div>
    <div class="title-container w-100">

        <p class="roboto-slab-font title-lg title-sm ">Business Development Manager</p>

        <div class="d-flex">
            <img src="../../assets/location2.svg" alt="" class="location-icon">
            <p class="open-sans-font location-name">Bangalore, India</p>
            <img src="../../assets/time2.svg" alt="" class="time-icon">
            <p class="open-sans-font time-name">Remote</p>
        </div>
    </div>
    <div class="back-container">
        <img src="../../assets/arrow.svg" alt="arrow" class="arrow-img">
        <p class="back-title">Back to all job listings</p>
    </div>
    <p class="job-description-title">Job Description</p>
    <p class="open-sans-font job-description">We are looking for a Senior Test Engineer to be an integral part of our
        Enterprise Engineering Quality team, working closely with our partners in IT, and Product Development. You’ll
        join at an exciting time and will be instrumental in advancing the maturity and growth of our Customer
        Experience Systems (CXS) Engineering team! You will support our fast growing portfolio of business solutions,
        integrations and internal extensions to products.<br><br>
        This role requires a highly motivated and driven engineer who is willing to learn and tackle new challenges
        continuously. Responsibilities include analyzing product requirements, designing test parameters, writing test
        cases, and building automated quality checks using modern industry standard methodologies. Do you have a mind
        for agile and data-driven development practices? is seeking a passionate test engineer who will provide maximum
        value in the shortest amount of time possible, with the ability to adapt quickly! </p>
    
    <ul class="roles">
        <p class=" list-title">What You’ll be Doing</p>
        <div class="list-description">
        <li>Define Test Strategy and define test plans to ensure quality standards are enforced in everything built in
            our Salesforce environment</li><br>

        <li>Define Test execution timelines to establish and work on a tighter QA Process with Code Freeze/Code Complete
            deadlines.</li><br>

        <li>Establish and follow Standards each sprint for User Stories to be accepted for testing.</li><br>

        <li>Work with the business analysts to ensure there is a more repeatable process for intake of stories in the
            sprint.</li><br>
        <li>Define QA Metrics sprint over sprint and publish them to scrum teams and business users on a regular basis.
        </li><br>
        <li>Design, develop and maintain a modular, extensible, reusable test automation framework.</li><br>
        <li>Coming up with creative testing solutions working with Salesforce developer tools like workbench, developer
            console, API console.
        </li><br>
        <li>Develop, automate and execute test cases to ensure feature enhancements are high quality and provide an
            intuitive customer experience.</li><br>
        <li>Conduct functional, SIT, UAT, regression and performance testing.</li><br>
        <li>Adapting to a fast paced work environment with changing priorities.</li><br>
        <li>Embodying the core values of leadership, integrity, and care with everything you do in the role.</li>
    </div>
    </ul>

    <ul class="experience">
        <p class="list-title">What you bring to the Role</p>
        <div class="list-description">
        <li>4+ years of work experience in Quality Assurance roles with automation testing experience.</li><br>
        <li>3+ years of testing experience with Salesforce CPQ.</li><br>
        <li>Good understanding and experience with API Testing.</li><br>
        <li>Experience working with Jira.</li><br>
        <li>Experience working with test case management systems like Testrail, Zephyr.</li><br>
        <li>Experience in writing clear, concise and comprehensive test plans and test cases.</li><br>
        <li>Knowledge of testing integrations, end-to-end system processes.</li><br>
        <li>Excellent analytical and problem-solving abilities.</li><br>
        <li>Experience working in an Agile/Scrum development process</li><br>
    </div>
    </ul>
    <!-- class="  " -->
    <div class="card-lg card-sm">
        <form action="">
            <p class="roboto-slab-font card-title">Apply now</p>
            <p class="open-sans-font card-description">Fill out the form, and we will get back to you soon with an update once we have reviewed your profile.
            </p>
            <input  class="input-background-color name" type="text" placeholder="Your Full Name"><br>
            <div>
                <input  class="input-background-color email" type="text" name="" placeholder="Email">
                <input class="input-background-color phone-no phone-no-m" type="text" name="" value=""
                placeholder="Phone Number">
            </div>
            <input class="input-background-color tell-yourself" type="text" name="" placeholder="Tell us something about yourself"><br>
            <input class="input-background-color attach" type="text" placeholder="Attach / drop your resume here"><br>
            <button class="button-submit" type="submit">Submit</button>
        </form>
    </div>
</div>

<footer></footer>