<header></header>
<div >
    <div class="w-100 title-container ">
        <p class="career-opios text-center ">Careers at Opsio</p>
        <div class="d-flex justify-content-center ">
            <p class="title">Work with Us</p>
        </div>
        <div class="d-flex justify-content-center">
            <button class="button-careers ">View careers</button>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <p class="core-values ">Core values</p>
    </div>
    <div class="d-flex justify-content-center">
        <p class="text-center roboto-slab-font cloud-computing ">Efficient Cloud computing with AWS</p>
    </div>

    <div class="d-flex justify-content-center">
        <p class=" open-sans-font aws-description ">Amazon Web Services (AWS) is one of the world’s biggest and
            broadly adopted
            cloud platform, offering over 200 fully featured services from data centers globally. Millions of
            customers—including the fast-growing startups, large enterprises, and leading gov</p>
    </div>

    <div class="cards-container cards-container-sm">
        <div>
            <div class="card-title-container">
                <img src="../../assets/inclusitivity.svg" alt="" class="icons" width="40px" height="40px ">
                <p class="card-title">Inclusivity</p>
            </div>
            <p class="open-sans-font card-description ">It is a subset of machine learning in artificial
                intelligence
                that has networks
                capable of learning unsupervised from data that is unstructured or unlabeled. </p>
        </div>
        <div>
            <div class="card-title-container">
                <img src="../../assets/lad.svg" alt="icons" class="icons" width="40px" height="40px">
                <p class="card-title">Learning and development</p>
            </div>
            <p class="open-sans-font card-description ">It uses many techniques from data mining, statistics,
                modeling, machine
                learning, and
                artificial intelligence to analyze current data to make predictions about future. </p>

        </div>
        <div>
            <div class="card-title-container">
                <img src="../../assets/flexible.svg" alt="icons" class="icons" width="40px" height="40px">
                <p class="card-title">Flexible</p>
            </div>
            <p class=" open-sans-font card-description ">Video content analysis also known as video analysis is the
                capability of automatically
                analyzing video to detect and determine temporal and spatial events. </p>


        </div>
    </div>


    <div class="image-container w-100">
        <img src="../../assets/office-image.svg" alt="office" class="office-img">
        <p class="roboto-slab-font company-description-title ">A Thriving Workplace</p>
        <p class="open-sans-font company-description ">Access a range of benefits, resources and expert guidance to
            help you to
            prioritise your well-being, so you can thrive with a healthy body and mind.</p>
        <img src="../../assets/tick-mark.svg" class="tick-mark-img-1 tick-mark-img tick-mark-icon" alt="icons">
        <img src="../../assets/tick-mark.svg" class="tick-mark-img-2 tick-mark-img tick-mark-icon" alt="icons">
        <img src="../../assets/tick-mark.svg" class="tick-mark-img-3 tick-mark-img tick-mark-icon" alt="icons">
        <p class="company-description-list-1 company-description-list">Time off to rest, recharge and volunteer</p>
        <p class="company-description-list-2 company-description-list">Time off to rest, recharge and volunteer</p>
        <p class="company-description-list-3 company-description-list">Time off to rest, recharge and volunteer</p>
    </div>

    <p class=" roboto-slab-font  text-center opportunities-title">Opportunities at Opsio</p>

    <div class="d-flex justify-content-center">
        <p class=" open-sans-font opportunities-description text-center ">If you are unable to find a suitable
            opening, we are always
            up to discover new talents, kindly mail us your resume to info@opsio.com</p>
    </div>

    <!-- sweden location -->

    <div class="d-flex justify-content-center ">
        <img src="../../assets/horizontal-bar.svg" alt="horizontal bar" class="horizontal-bar">
    </div>
    <p class="job-title">Project Manager</p>

    <div class="d-flex">
        <img src="../../assets/location.svg" alt="" class="location-icon">
        <p class="company-description-list location-name">Karlstad, Sweden</p>
        <img src="../../assets/time.svg" alt="" class="time-icon">
        <p class="company-description-list time-name">Remote</p>
    </div>

    <div class="job-description-container">
        <p class="company-description-list pm-description ">This will be accomplished by leading training and enablement
            efforts for the IT
            Employee Experience Systems training content development, the evolution of the Change Management Center of
            Excellence.</p>
        <button class="button-careers button-apply-1 button-apply ">Apply Now</button>
    </div>

    <!-- Bangalore location -->


    <div class="d-flex justify-content-center ">
        <img src="../../assets/horizontal-bar.svg" alt="horizontal bar" class="horizontal-bar">
    </div>

    <p class="bdm">Business Development Manager</p>

    <div class="d-flex ">
        <img src="../../assets/location.svg" alt="" class="location-icon">
        <p class="company-description-list location-name">Bangalore, India</p>
        <img src="../../assets/time.svg" alt="" class="time-icon">
        <p class="company-description-list time-name time-name2">Full Time</p>

    </div>

    <div class="job-description-container">
        <p class="company-description-list pm-description ">This will be accomplished by leading training and
            enablement efforts for the
            IT
            Employee Experience Systems training content development, the evolution of the Change Management Center
            of
            Excellence.</p>
        <button class="button-careers button-apply-2 button-apply ">Apply Now</button>
    </div>

    <!-- Bangalore location -->

    <div class="d-flex justify-content-center " width="1200px">
        <img src="../../assets/horizontal-bar.svg" alt="horizontal bar" class="horizontal-bar">
    </div>

    <p class="bdm">Full Stack Developer</p>

    <div class="d-flex ">
        <img src="../../assets/location.svg" alt="" class="location-icon">
        <p class="company-description-list location-name">Bangalore, India</p>
        <img src="../../assets/time.svg" alt="" class="time-icon">
        <p class="company-description-list time-name time-name2">Full Time</p>

    </div>

    <div class="job-description-container">
        <p class="pm-description company-description-list">This will be accomplished by leading training and
            enablement efforts for the
            IT
            Employee Experience Systems training content development, the evolution of the Change Management Center
            of
            Excellence.</p>
        <button class="button-careers button-apply-3 button-apply ">Apply Now</button>
    </div>



</div>